<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/card.css" />
    <link rel="stylesheet" href="/styles/story_page.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/de54c1de20.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header.ejs') %>

    <h1 class="story_page_title">Story Page</h1>

    <article class="story_page">
      <div>
        <h3 id="story_title">Title of Story</h3>
        <p class="story_so_far"><%= data[0].story %></p>
      </div>
      <form id="search" method="post" action="/story/<%=storyId%>">
        <textarea
          class="textbox"
          name="text"
          placeholder="What happens next in this exciting story? Type your response here..."
        ></textarea>
        <button class="btn btn-primary story_btn" type="submit">
          Add to the story!
        </button>
      </form>
    </article>

    <% for (let index in contributions) {%>
    <article class="upvoted_contributions">
      <div class="contribution_container">
        <span>
          <i class="fa-solid fa-heart"></i>
          <p><%= contributions[index].contribution %></p>
        </span>
      </div>
    </article>
    <% } %>
  </body>
</html>
