html body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-color: #D9BFA9;
}

.navbar-right {
  display: flex;
  align-items: center;

}


.progress-bar {
  color: #000000;
  margin-left: auto;
  width: 100px;
  background-color: #aee938;
}
